<div class="container page my-connections">
  <div class="row user-details-container fadein-effect">
    <h2 class="col-xs-12 no-requests" ng-show="connections.length === 0">You have no requests :(</h2>
    <div class="col-xs-12 user-details requests {{user.username}}" ng-repeat="user in connections track by $index">
      <div class="post-thumbnail user-pic">
        <a href="" alt="" style="background-image:url({{user.avatar_url}})"></a>
      </div>
      <div class="user-subdetails">
        <a href="" class="user-name">{{user.name}} ({{user.username}})</a>
        <div class="subdetail time">
          <!--<i class="fa fa-clock-o"></i> Request made on {{user.requestedDate | date:'mediumDate'}}-->
          {{user.bio}}
        </div>
        <!--<div class="subdetail ratings">
         <div id="stars-existing" class="stars" ng-init="ratings(user.ratings, $index, 'requests')"></div>
         <div id="stars-existing" class="stars" ng-init="ratings(4, $index, 'requests')"></div>
        </div>-->
      </div>
    </div>
  </div>
</div>  