<div class="container page my-projects-page">

  <div class="col-xs-12 requests-form fadein-effect" ng-init="selected = 'requests'">
    <button class="btn" ng-class="{'active':selected === 'requests'}" ng-click="selected = 'requests'">Published</button>
    <button class="btn" ng-class="{'active':selected === 'demands'}" ng-click="selected = 'demands'">In Progress</button>
  </div>

  <div class="row user-details-container fadein-effect" ng-show="selected === 'requests'">
    <h2 class="col-xs-12 no-requests" ng-show="!publishedProjects.length">You have no published projects :(</h2>
    <div class="col-xs-12 user-details demands {{project.projectId}}" ng-repeat="project in publishedProjects">
      <div class="post-thumbnail user-pic">
        <a href="#/project/{{project.projectId}}" alt="" style="background-image:url({{project.picture}})"></a>
      </div>
      <div class="user-subdetails">
        <a href="#/project/{{project.projectId}}" class="user-name" data-project-name="{{project.name}}">{{project.name}}</a>
        <div class="subdetail time">
          <i class="fa fa-clock-o"></i> Published On - {{project.creationDate | date:'mediumDate'}}
        </div>
      </div>
    </div>
  </div>

  <div class="row user-details-container fadein-effect" ng-show="selected === 'demands'">
    <h2 class="col-xs-12 no-requests" ng-show="!inProgressProjects.length">You have no projects in progress :(</h2>
    <div class="col-xs-12 user-details demands {{project.projectId}}" ng-repeat="project in inProgressProjects">
      <div class="post-thumbnail user-pic">
        <a href="#/collaboration-page/{{project.projectId}}" alt="" style="background-image:url({{project.picture}})"></a>
      </div>
      <div class="user-subdetails">
        <a href="#/collaboration-page/{{project.projectId}}" class="user-name">{{project.name}}</a>
        <div class="subdetail time">
          <i class="fa fa-clock-o"></i> Created On - {{project.creationDate | date:'mediumDate'}}
        </div>
      </div>
    </div>
  </div>
  
</div>
