<div class="container page projects-page">
  <div class="projects-container">

    <div class="row">
      <div class="col-xs-12 time-range-form">
        <button class="btn" ng-class="{'active':weekly}" ng-click="weekly = true">Weekly</button>
        <button class="btn" ng-class="{'active':!weekly}" ng-click="weekly = false">Overall</button>
      </div>
    </div>
    <div class="row project-list-search">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <input type="text" class="form-control" ng-model='searchText' placeholder="Search a project">
      </div>
    </div>
  
  <div class="projects-list">
    <div class="project-post" ng-repeat="project in projects | weeklyFilter:weekly | filter:searchText">
      <a href="#" class="vote-block">
        <span class="project-vote-button"><i class="fa fa-caret-up fa-lg"></i></span>
        <span class="project-vote-count">{{project.upVote}}</span>
      </a>
      <div class="project-thumbnail" style="background-image:url({{project.picture}})">
      </div>
      <div class="post-text">
        <div class="date-and-comments">
          <span class="post-date"><i class="fa fa-clock-o"></i> {{project.publishDate | date:'mediumDate'}}</span>
          <span class="post-comments"><i class="fa fa-comments-o fa-lg comments"></i> {{project.commentCount}}</span>
        </div>
        <a href="#" class="project-name">{{project.name}}</a>
        <span class="project-short-description">{{project.shortDesc}}</span>
      </div>
      <div class="post-user-info">
        <a href="#" class="user-image" ng-repeat="developer in project.teams" style="background-image: url({{developer.avatar_url}})"></a>
      </div>
    </div>
  </div>
</div>
