<div class="container page projects-page">
  <div class="projects-container">

    <div class="col-xs-12 time-range-form">
      <button class="btn" ng-class="{'active':weekly}" ng-click="weekly = true">Weekly</button>
      <button class="btn" ng-class="{'active':!weekly}" ng-click="weekly = false">Overall</button>
    </div>

    <div class="row project-post fadein-effect" ng-repeat="project in projects | weeklyFilter:weekly">
      <div class="col-xs-12 post-top-info">
        <div class="post-thumbnail thumbnail-pic">
          <a href="" alt="" style="background-image:url({{project.picture}})"></a>
        </div>
        <div class="post-top-details">
          <div class="post-title project-name">
            <a href="">{{project.name}}</a>
          </div>
          <div class="post-subdetails">
            <div class="subdetail">
              <i class="fa fa-clock-o"></i> {{project.publishDate | date:'mediumDate'}}
              <i class="fa fa-comment comments"></i> {{project.commentCount}}
            </div>
          </div>
        </div>
        <div class="voting">
          <div class="upvote vote">
            <button ng-click="increment(project, $index)"><i class="fa fa-chevron-circle-up"></i></button>
            <span class="count">{{project.upVote}}</span>
          </div>
          <div class="downvote vote">
            <button ng-click="decrement(project, $index)"><i class="fa fa-chevron-circle-down"></i></button>
            <span class="count">{{project.downVote}}</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 post-content">
        <p class="description">
          {{project.shortDesc}}
        </p>
        <ul class="developers-list">
          <li class="developer" ng-repeat="developer in project.teams">
            <a href="" class="developer-pic" style="background-image:url({{developer.avatar_url}})"></a>
            <p class="developer-name">{{developer.name}}</p>
          </li>
        </ul>
        <div class="row project-picture-container">
          <div class="col-xs-12 col-sm-5 picture-container">
            <a href="" class="project-picture" style="background-image:url({{project.picture}})"></a>
          </div>
          <div class="col-xs-12 col-sm-7 project-desc-container">
            <p class="project-subdescription">
              {{project.longDesc}}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
