<div id="chat-page" class="container page chat-page">

  <!-- List of Messages -->
  <div class="chat-users col-xs-12 col-sm-4">
    <div class="search-container">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="User" placeholder="Search For User" ng-model="newUser" uib-typeahead="user as user.name for user in allUsers | filter:$viewValue | limitTo:5" typeahead-noresults="noResults" typeahead-on-select="createNewRoom($label)">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="createNewRoom(newUser)"><i class="fa fa-search"></i>
        </button>
        <p ng-show="showModal" class="error" ng-click="showModal=false; createNewRoom(newUser)">User Not Found. Try Again</p>
      </form>
    </div>
    <ul class="allUsers-list" style="cursor:pointer;">
      <li ng-repeat="(key, value) in roomMessages"  class="allUsers-list-elm" ng-click="changeRoom(key)">
        <div class="listOverview cf">
          <img class="user-pic" ng-src="{{roomMessages[key].avatar}}" />

          <div class="otherUser-info">
            <p class="username-chat">{{roomMessages[key].users[1]}}</p>
            <p>{{roomMessages[key].messages[roomMessages[key].messages.length - 1].text | limitTo:15}}...</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Message Box -->
  <div class="chat-messages col-xs-12 col-sm-7 col-sm-offset-1" id="chat-messages">
    <button class='return-chat'><i class="fa fa-chevron-circle-right"></i></button>
    <h3><a style="color: inherit;" href="#/user/{{currentTarget}}">{{currentTarget}}</a></h3>
    <div class="bigMessage-container" id="bigMessage-container">
      <div ng-repeat="message in roomMessages[currentRoom].messages" class="messages-container">
        <div ng-show="message.user === name" class="message-body personnal fadein-effect"> <p>{{message.text}} </p>
        </div>
        <div ng-hide="message.user === name" class="message-body other fadein-effect"> <p>{{message.text}}</p>
        </div>
      </div>
    </div>

    <div class="chat-typing" id="inputMessageBox">
      <form class="wat">
        <div class="form-group">
          <textarea class="form-control" rows="5" name="sendingMessage" id="sendingMessage" placeholder="Type your message here" ng-model="message"></textarea>
          <button type="submit" ng-click="sendPrivateMessage(currentRoom)" class="btn btn-primary messageButton">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
