<div id="chat-page" class="container page chat-page">
  <!-- <div class="chat-users col-xs-12 col-sm-6 ">
    <h3>Dudes</h3>
    <div ng-repeat="users in users" class="users-container">
      <a>{{users}}</a>
    </div>
  </div> -->
  <div class="chat-users col-xs-12 col-sm-4">
    <div class="form-group">
      <form class="form-inline">
        <h4>{{name}}</h4>
        <input type="text" class="form-control" id="User" placeholder="User" ng-model="newUser">
        <button type="submit" class="btn btn-primary" ng-click="createNewRoom(newUser)">Message</button>
      </form>
    </div>
    <ul class="allUsers-list">
      <li ng-repeat="elm in rooms"  class="allUsers-list-elm">
        <div class="listOverview">
          <a href="" class="user-pic col-xs-3" style="background-image:url({{fakeUsers[2].picture}})" ng-click="changeRoom(elm.roomName)">
          </a>
          <p>{{elm.roomName}}</p>
          <p>{{fakeUsers[2].bio}}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="chat-messages col-xs-12 col-sm-6" id="chat-messages">
    <h3>{{currentTarget}}</h3>
    <h5 style="text-align:center">{{fakeUsers[2].bio}}</h5>
    <div class="bigMessage-container" id="bigMessage-container">
      <div ng-repeat="message in roomMessages[currentRoom]" class="messages-container">
        <div ng-show="message.user === name" class="message-body personnal fadein-effect"> <p>{{message.text}} </p>
        </div>
        <div ng-hide="message.user === name" class="message-body other fadein-effect"> <p>{{message.text}}</p>
        </div>
      </div>
    </div>
    <div class="chat-typing" id="inputMessageBox">
      <form class="wat">
        <div class="form-group">
          <textarea class="form-control" rows="5" name="sendingMessage" id="sendingMessage" placeholder="type your message here" ng-model="message"></textarea>
          <button type="submit" ng-click="sendPrivateMessage(currentRoom)" class="btn btn-success messageButton">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
      <!-- <form ng-submit="sendMessage()">
        <input ng-model="message" class="ng-pristine ng-valid">
        <input type="submit" value="Send">
      </form> -->
      <!-- <script src="/socket.io/socket.io.js"></script> -->
      <!-- <script async src="bower_components/socket.io-client/socket.io.js"></script> -->

