<div class="page welcome-page">
  <div class="section first" data-stellar-background-ratio="0.5">
    <div class="inner-section container inner-first">
      <h1 class="wow fadeIn logo"><i class="icon-logo-gitconnect"></i></h1>
      <h1 class="wow fadeIn">GitConnect</h1>
      <h2 class="wow fadeIn">Connect - Work - Share</h2>
    <div class="scroll-container">
      <i class="fa fa-arrow-circle-down picture-arrow"></i>
      <p>Scroll Down for More</p>
    </div>
    </div>
  </div>

  <div class="section second container-full">
    <div class="inner-section container inner-second">
      <div class="col-xs-12 col-sm-6 text">
        <h1 class="wow fadeInLeft">Connect with developers</h1>
        <h3 class="wow fadeInLeft">We suggest members that match your interests, based on your GitHub activity</h3>
      </div>
      <div class="col-xs-12 col-sm-6 picture-container">
        <div class="picture user-1 wow bounceIn"></div>
        <div class="picture user-2 wow bounceIn"></div>
        <div class="tech angular wow bounceIn"></div>
        <div class="tech c wow bounceIn"></div>
        <div class="tech html wow bounceIn"></div>
        <div class="tech mongo wow bounceIn"></div>
        <div class="tech python wow bounceIn"></div>
        <div class="tech ruby wow bounceIn"></div>
        <div class="tech swift wow bounceIn"></div>
        <div class="tech sass wow bounceIn"></div>
      </div>
    </div>
  </div>

  <div class="section third">
    <div class="inner-section container inner-third">
      <h1 class="wow bounceInUp">Work together</h1>
      <h2 class="wow bounceInUp">Collaborate and make your project come to life</h2>
      <div class="talk left-talk wow bounceIn"></div>
      <div class="talk right-talk wow bounceIn"></div>
    </div>
  </div>

  <div class="section fourth">
    <div class="inner-section container inner-fourth">
      <h1 class="wow fadeIn">Share your project</h1>
      <h2 class="wow fadeIn">Spread your idea and get noticed by other members</h2>
      <div class="share wow bounceIn"></div>
    </div>
  </div>

  <div class="section fifth">
    <div class="inner-section container inner-fifth">
      <h1 class="wow bounceIn">Use our mobile app</h1>
      <h3 class="first wow bounceIn">Simply click "Add home screen" from your mobile browser</h3>
      <h3 class="second wow bounceIn">and use gitconnect everywhere</h3>
      <img class="phone wow fadeIn" src="assets/pictures/welcome/mobile.png">
    </div>
  </div>
</div>
