<div class="page welcome-page">
  <div class="section first">
    <div class="inner-section container inner-first">
      <h1>GitConnect</h1>
      <h2>Keep in touch with developers</h2>
    </div>
  </div>

  <div class="section second">
    <div class="inner-section container inner-second">
      <h1 class="wow fadeInLeft">GitConnect</h1>
      <h2 class="wow fadeInRight">Keep in touch with developers</h2>
    </div>
  </div>

  <div class="section third">
    <div class="inner-section container inner-third">
      <h1 class="wow bounceInUp">GitConnect</h1>
      <h2 class="wow bounceInUp">Keep in touch with developers</h2>
    </div>
  </div>

  <div class="section fourth">
    <div class="inner-section container inner-fourth">
      <h1 class="wow fadeIn">GitConnect</h1>
      <h2 class="wow bounceIn">Keep in touch with developers</h2>
    </div>
  </div>
</div>