$bgColor: #FFFFFF;
$chatColor1: #E5F9FF;
$chatColor2: #47C2E8;

$redColor: #E32636;
$greenColor: #25b695;
$blueColor: #5d85c3;
$salmonColor: #ed6f70;

$lightGreyColor: #CCC;
$darkGreyColor: #323a45;


// Theme Color
$mainColor: $darkGreyColor;
$secondaryColor: $greenColor;

