$bgColor: #FFFFFF;
$chatColor1: #E5F9FF;
$chatColor2: #47C2E8;

$redColor: #E32636;
$greenColor: #2ecc71;
// $blueColor: #225B87;
$blueColor: #5d85c3;
// $blueColor: green;
$greyColor: #353941;
$salmonColor: #ed6f70;

// // Theme 1
// $mainColor: $blueColor;
// $secondaryColor: $greyColor;

// Theme 2
$mainColor: #323a45;
$secondaryColor: #25b695;

// // Theme 2 Reverse
// $mainColor: #25b695;
// $secondaryColor: #323a45;
