<div class="container page connect-page fadein-effect" ng-init="statusCheck()">
  <div class="top-container cf">
    <form class="form-inline city-form">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="Select a different city">
      </div>
      <button type="submit" class="btn btn-default">Send</button>
    </form>
    <div class="availability">
      <button ng-show="!availability" class="btn turn-on" ng-click="availabilityOn()">Set as available</button>
      <button ng-show="availability" class="btn turn-off" ng-click="availabilityOff()">Set as unavailable</button>
    </div>

  </div>
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" ng-repeat="user in users track by $index" on-finish-render="ngRepeatFinished" data-dev-id="{{user.id}}" style="background-image:url({{user.avatar_url}})">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg> 
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <div class="col-xs-12 developer-connect-details">
    <div class="connection">
      <button class="btn connect-btn" ng-click="connectionRequest($index)">Connect</button>
    </div>
    <div class="developer-detail">
      <p class="developer-name">{{selectedUser.name}}</p>
      <p class="developer-bio">{{selectedUser.bio}}</p>
    </div>
    <div class="row developer-tech">
      <div class="col-xs-12 col-sm-6 languages">
        <h3>Languages</h3>
        <ul>
          <li ng-repeat="language in selectedUser.languages">
            {{language}}
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 projects">
      <h3>Projects</h3>
        <ul>
          <li ng-repeat="projects in selectedUser.projects">
            {{projects}}
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>


