<div class="container page connect-page fadein-effect" ng-init="statusCheck()">
  <div class="top-container row">
    <button type="submit" class="btn col-xs-12 col-sm-2" ng-click="applyFilters()">Filters</button>
    <form class="form-inline city-form col-xs-12 col-sm-6" ng-init="googleMapInit()">
      <div class="form-group">
        <label for="city">Your City</label>
        <input type="text" class="form-control" id="city-input" placeholder="Select a different city">
      </div>
      <button type="submit" class="btn btn-default">Send</button>
    </form>
    <div class="availability col-xs-12 col-sm-4">
      <button ng-show="!availability" class="btn turn-on" ng-click="availabilityOn()">Set as available</button>
      <button ng-show="availability" class="btn turn-off" ng-click="availabilityOff()">Set as unavailable</button>
    </div>
  </div>
  <div class="availability-required" ng-show="!availability">
    <h3>You must set yourself available<br>in order to match with other developpers</h3>
  </div>
  <!-- Slider main container -->
  <div class="swiper-container" ng-show="availability">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" ng-repeat="user in users" on-finish-render="ngRepeatFinished" data-dev-id="{{user.id}}" style="background-image:url({{user.avatar_url}})">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg> 
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <div class="col-xs-12 developer-connect-details" ng-show="availability">
    <div class="connection">
      <button class="btn connect-btn" ng-click="connectionRequest()">Connect</button>
    </div>
    <div class="developer-detail">
      <p class="developer-name">{{selectedUser.name}}</p>
      <p class="developer-bio">{{selectedUser.bio}}</p>
    </div>
    <div class="row developer-tech">
      <div class="col-xs-12 col-sm-6 languages">
        <h3>Languages</h3>
        <ul>
          <li ng-repeat="skill in selectedUser.skills">
            {{skill.name}}
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 projects">
      <h3>Projects</h3>
        <ul>
          <li ng-repeat="projects in selectedUser.projects">
            {{projects}}
          </li>
        </ul>
      </div>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="filters" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Technology Interests</h4>
      </div>
      <div class="modal-body cf">
        <div class="tech-selection col-xs-12">
          <div class="techs propositions">
            <h4>Add Filters</h4>
            <label class="search-form">Search: <input class="tech-search-input" ng-model="searchText"></label>
            <p ng-show="existed" class="error-addition"> Already added</p>
            <ul>
              <li class="tech fadein-effect" ng-repeat="tech in techList | filter:searchText track by $index" data-tech="{{tech}}" ng-click="addFilter(tech, $index)">
                {{tech}} <i class="fa fa-plus-circle"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="tech-selection col-xs-12">
          <div class="techs user-selection" >
            <h4>Current Filters</h4>
            <ul>
              <li class="tech fadein-effect" ng-repeat="tech in selections track by $index " data-tech="{{tech}}" ng-click="removeFilter(tech, $index)">
                {{tech}} <i class="fa fa-times-circle"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submitFilters()">Submit</button>
      </div>
  </div>
</div>

</div>


