<div class="container page collaboration-page fadein-effect">

  <div class="row team-details">
    <h1>Team</h1>
    <ul class="team-members-list">
      <li class="team-member">
        <a href="" class="team-member-pic" style="background-image:url('assets/pictures/users/yumo.jpg')"></a>
        <p class="team-member-name">Yumo</p>
      </li>
      <li class="team-member">
        <a href="" class="team-member-pic" style="background-image:url('assets/pictures/users/renan.jpg')"></a>
        <p class="team-member-name">Renan</p>
      </li>
      <li class="team-member">
        <a href="" class="team-member-pic" style="background-image:url('assets/pictures/users/jake.jpg')"></a>
        <p class="team-member-name">Jake</p>
      </li>
      <li class="team-member">
        <a href="" class="team-member-pic" style="background-image:url('assets/pictures/users/chris.jpg')"></a>
        <p class="team-member-name">Chris</p>
      </li>
      <li class="team-member">
        <a href="" class="team-member-pic" style="background-image:url('assets/pictures/users/royce.jpg')"></a>
        <p class="team-member-name">Royce</p>
      </li>
    </ul>
  </div>
  <div class="row links">
    <div class="link-header">
      <h1>Resources</h1>
    </div>
    <ul>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-github fa-2x fa-fw link-icon"></i>
        <span class="link-options">
          <a href={{resources.project_repo}} ng-class="{'filled-link-info': resources.project_repo, 'empty-link-info': !resources.project_repo}">Project Repo</a>
          <a href="" class="add-link"><i class="fa fa-pencil"></i></a>
        </span>
      </li>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-jsfiddle fa-2x fa-fw link-icon"></i>
        <span class="link-options">
          <a href={{resources.code_library}} ng-class="{'filled-link-info': resources.code_library, 'empty-link-info': !resources.code_library}">Code Library</a>
          <a href="" class="add-link"><i class="fa fa-pencil"></i></a>
        </span>
      </li>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-cloud fa-2x fa-fw link-icon"></i> 
        <span class="link-options">
          <a href={{resources.storage}} ng-class="{'filled-link-info': resources.storage, 'empty-link-info': !resources.storage}">Cloud Storage</a>
          <a href="" class="add-link"><i class="fa fa-pencil"></i></a>
        </span>
      </li>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-trello fa-2x fa-fw link-icon"></i>
        <span class="link-options">
          <a href={{resources.scrum_board}} ng-class="{'filled-link-info': resources.scrum_board, 'empty-link-info': !resources.scrum_board}">Scrum Board</a>
          <a href="" class="add-link"><i class="fa fa-pencil"></i></a>
        </span>
      </li>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-link fa-2x fa-fw link-icon"></i> 
        <span class="link-options">
          <a href={{resources.website}} ng-class="{'filled-link-info': resources.website, 'empty-link-info': !resources.website}">Project Website</a>
          <a href="" class="add-link"><i class="fa fa-pencil"></i></a>
        </span>
      </li>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-database fa-2x fa-fw link-icon"></i>
        <span class="link-options">
          <a href={{resources.database}} ng-class="{'filled-link-info': resources.database, 'empty-link-info': !resources.database}">Database</a>
          <a href="" class="add-link"><i class="fa fa-pencil"></i></a>
        </span>
      </li>
    </ul>
  </div>
  <div class="row team-messages">
    <h1>Messages</h1>
    <ul class="list-group">
      <li class="list-group-item cf" ng-repeat="message in messages">
        <a href="" class="team-member-chat-picture" style="background-image:url('assets/pictures/users/chris.jpg')"></a>
        <div class="message-content">
          <span class="username">{{message.username}}</span>
          <p class="message-content-body">
            {{message.message}}
          </p>
        </div>
      </li>
    </ul>
    <form ng-submit="messageSubmit()">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">+</span>
        <input type="text" ng-model="text" class="form-control" aria-describedby="sizing-addon1">
      </div>
    </form>
  </div>
</div>
