<div class="container page collaboration-page">

  <div class="row team-details">
    <div class="col-xs-12">
      <h1>Team</h1>
      <ul class="team-members-list">
        <li class="team-member">
          <a href="" class="team-member-pic" style="background-image:url('assets/pictures/users/yumo.jpg')"></a>
          <p class="team-member-name">Yumo</p>
        </li>
        <li class="team-member">
          <a href="" class="team-member-pic" style="background-image:url('assets/pictures/users/renan.jpg')"></a>
          <p class="team-member-name">Renan</p>
        </li>
        <li class="team-member">
          <a href="" class="team-member-pic" style="background-image:url('assets/pictures/users/jake.jpg')"></a>
          <p class="team-member-name">Jake</p>
        </li>
        <li class="team-member">
          <a href="" class="team-member-pic" style="background-image:url('assets/pictures/users/chris.jpg')"></a>
          <p class="team-member-name">Chris</p>
        </li>
        <li class="team-member">
          <a href="" class="team-member-pic" style="background-image:url('assets/pictures/users/royce.jpg')"></a>
          <p class="team-member-name">Royce</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row links">
    <h1>Links</h1>
    <ul>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-github fa-2x"></i> <a href="https://github.com/deltathesis/gitconnect">GitHub Repo</a>
      </li>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-jsfiddle fa-2x"></i> <a href="https://jsfiddle.net/">JSfiddle</a>
      </li>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-dropbox fa-2x"></i> <a href="https://github.com/deltathesis/gitconnect">GitHub Repo</a>
      </li>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-stack-exchange fa-2x"></i> <a href="https://github.com/deltathesis/gitconnect">GitHub Repo</a>
      </li>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-github fa-2x"></i> <a href="https://github.com/deltathesis/gitconnect">GitHub Repo</a>
      </li>
      <li class="col-xs-6 col-sm-4">
        <i class="fa fa-github fa-2x"></i> <a href="https://github.com/deltathesis/gitconnect">GitHub Repo</a>
      </li>
    </ul>
  </div>
</div>
