<div class="container page legal-page fadein-effect">
  
  <div class="row legal-container">
    <div class="col-xs-12 top-info">
      <h1>Legal</h1>
      <p>GitConnect provides the www.gitconnect.me Web site as a service to the public and Web site owners.</p>

      <p>GitConnect is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the site. While the information contained within the site is periodically updated, no guarantee is given that the information provided in this Web site is correct, complete, and up-to-date.</p>

      <p>Although the GitConnect Web site may include links providing direct access to other Internet resources, including Web sites, GitConnect is not responsible for the accuracy or content of information contained in these sites.</p>

      <p>Links from GitConnect to third-party sites do not constitute an endorsement by GitConnect of the parties or their products and services. The appearance on the Web site of advertisements and product or service information does not constitute an endorsement by GitConnect, and GitConnect has not investigated the claims made by any advertiser. Product information is based solely on material received from suppliers.</p>
    </div>
  </div>
  
</div>
