<div class="container page project-page" ng-init= "init()">

  <div class="row project-post fadein-effect">
    <div class="col-xs-12 post-top-info">
      <div class="post-thumbnail thumbnail-pic">
        <a href="" alt="" style="background-image:url({{myproject.picture}})"></a>
      </div>
      <div class="post-top-details">
        <div class="post-title project-name">
          <a href="">{{myproject.name}}</a>
        </div>
        <div class="post-subdetails">
          <div class="subdetail">
            <i class="fa fa-clock-o"></i> {{myproject.publishDate | date:'mediumDate'}}
            <i class="fa fa-comment comments"></i> {{messages.length}}
          </div>
        </div>
      </div>
      <div class="voting">
        <div class="upvote vote">
          <button ng-click="increment(myproject)"><i class="fa fa-caret-up fa-lg"></i></button>
          <span class="count">{{myproject.upVote}}</span>
        </div>
      </div>
      <div class="collaborator-options" ng-if="collaborator">
        <button type="button" class="btn btn-danger project-actions delete-project" data-toggle="modal" data-target="#deleteProjectModal" ng-click="confirmDelete()">
          <i class="fa fa-ban"></i> Delete your Project
        </button>
      </div>
    </div>
    <div class="col-xs-12 post-content">
      <p class="description">
        {{myproject.shortDesc}}
      </p>
      <h3 class="section-title">Tech Stack</h3>
      <div class="tech-list">
        <ul class="row">
          <li class="col-xs-6 col-sm-3" ng-repeat="tech in myproject.languages">
            <span class="tech-icon" style="background-image:url('http://mks-thesis-project.s3-us-west-1.amazonaws.com/pictures/techs/{{tech.nameEncoded}}.jpg')"></span>
            <span class="tech-name">{{tech.name}}</span>
          </li>
        </ul>
      </div>
      <h3 class="section-title">Team</h3>
      <ul class="developers-list cf">
        <li class="developer" ng-repeat="developer in myproject.teams">
          <a href="#/user/{{developer.username}}" class="developer-pic" style="background-image:url({{developer.avatar_url}})"></a>
          <p class="developer-name">{{developer.name}}</p>
        </li>
      </ul>
      <div class="row project-picture-container">
        <div class="col-xs-12 col-sm-6 picture-container">
          <img class="project-picture" ng-src="{{myproject.picture}}" ng-click="displayPicture()">
          <div class="magnifier" ng-click="displayPicture()">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 project-desc-container">
          <div class="github-link">
            <i class="fa fa-github"></i>
            <a href="{{myproject.projectRepo}}">{{myproject.projectRepo}}</a>
          </div>
          <div class="website-link">
            <i class="fa fa-globe"></i>
            <a href="{{myproject.projectWebsite}}" target="_blank">{{myproject.projectWebsite}}</a>
          </div>
          <h3 class="description-title">Description</h3>
          <p class="project-subdescription">
            {{myproject.longDesc}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row team-messages">
    <div class="col-xs-12">
      <h2 class="section-title">Comments</h2>
      <ul class="list-group">
        <li class="list-group-item cf" ng-repeat="message in messages">
          <a href="" class="team-member-chat-picture" style="background-image:url({{message.avatar}})"></a>
          <div class="message-content">
            <span class="username">{{message.username}}</span>
            <span class="date">{{ message.date | date: 'short' }}</span>
            <p class="message-content-body">
              {{message.message}}
            </p>
          </div>
        </li>
      </ul>
      <form ng-submit="messageSubmit()">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" ng-model="text" aria-describedby="sizing-addon1">
          <span class="input-group-btn" id="sizing-addon1">
            <button class="btn btn-primary" type="button" ng-click="messageSubmit()">Send</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="picture-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <img ng-src="{{myproject.picture}}">
    </div>
  </div>
</div>

<!-- Delete Modal-->

<div id="deleteProjectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">To confirm delete, please enter your github username</h4>
      </div>
      <div class="modal-body">
        <form name="myForm" ng-submit="deleteProject()">
          <input type="text" class="form-control username-input" ng-model="userInput">
          <button ng-disabled="userInput !== username" hidden>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger sign-small submit-project-delete" ng-disabled="userInput !== username" ng-click="deleteProject()">Submit</button>
          <button class="btn btn-default cancel-small" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal-->

  <div id="editProjectModal" class="modal fade edit-project" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">To confirm delete, please enter your github username</h4>
        </div>
        <div class="modal-body">
          <form name="myForm" ng-submit="deleteProject()">
            <label>Project Name</label>
            <input type="text" class="form-control" ng-model="projectInfo.name" required>
            <label>About the project:</label>
            <textarea type="text" rows="5" class="form-control noresize" ng-model="projectInfo.longDesc" required></textarea>
            <label>Short decription of the project</label>
            <input ng-model="projectInfo.shortDesc" type="text" class="form-control">
            <label>Project picture</label>
            <input type="file" id="file_input" fileread="profilePic" class="form-control">
            <label>Project repo link</label>
            <input type="url" class="form-control" ng-model="projectInfo.projectRepo" name="repo" required>
            <div role="alert">
              <span class="error" ng-show="myForm.repo.$error.url">
                Not valid url!</span>
              </div>
              <label>Project Website</label>
              <input type="url" class="form-control" ng-model="projectInfo.projectWebsite" name="input" required>
              <div role="alert">
                <span class="error" ng-show="myForm.input.$error.url">
                  Not valid url!</span>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary sign-small" ng-click="deleteProject()">Submit</button>
              <button class="btn btn-default cancel-small" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>