<div ng-controller="headerController" ng-init="checkProjectPage()">
  <nav class="navbar navbar-default header-menu">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar first"></span>
          <span class="icon-bar second"></span>
          <span class="icon-bar third"></span>
        </button>
        <a class="navbar-brand link-home link-logo" href="#/welcome"><i class="icon-logo-gitconnect"></i></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse links-menu" id="bs-example-navbar-collapse-1" ng-controller='AuthController'>
        <ul class="nav navbar-nav navbar-left" bs-active-link ng-hide="location.path().startsWith('/subscription')">
          <li ng-show='!user'><a href="#/welcome" title="Welcome" data-toggle="collapse" data-target=".navbar-collapse.in" class="link-welcome">Welcome</a></li>
          <li ng-show='user' class="active"><a href="#/" title="Home page" data-toggle="collapse" data-target=".navbar-collapse.in" class="link-news">News <span class="sr-only">(current)</span></a></li>
          <li ng-show='user'><a href="#/connect" title="Connect" data-toggle="collapse" data-target=".navbar-collapse.in" class="link-connect">Connect</a></li>

          <li class="dropdown header-dropdown" ng-show='user'>
            <a href="" class="dropdown-toggle link-projects-container" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
            <span ng-class="projectInvite ? 'notify': 'nothing'" ng-show="projectInvite"><i class="fa fa-circle"></i></span>
            <ul class="dropdown-menu">
             <li>
               <a href="#/projects" title="Projects list" data-toggle="collapse" data-target=".navbar-collapse.in" class="link-community-projects">Community Projects</a>
             </li>

             <li role="separator" class="divider"></li>

             <li ng-show="user" class="my-projects">
              <a ng-click="clearProjectInviteNotification()" href="#/my-projects" title="My projects" data-toggle="collapse" data-target=".navbar-collapse.in" class="link-my-projects">My Projects</a>
              <span ng-class="projectInvite ? 'notify': 'nothing'" ng-show="projectInvite"><i class="fa fa-circle"></i></span>
            </li>

            <li role="separator" class="divider"></li>

            <li class="requests" ng-click="openProjectCreateModal()">
              <a href="" title="Add a project" data-toggle="collapse" data-target=".navbar-collapse.in" class="link-add-a-project">
                <i class="fa fa-plus"></i> Add a new project
              </a>
            </li>
          </ul>
        </li>
          
        <li class="dropdown header-dropdown link-connections-container" ng-show='user'>
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connections <span class="caret"></span></a>
          <span ng-class="cashew ? 'notify': 'nothing'" ng-show="cashew"><i class="fa fa-circle"></i></span>
          <ul class="dropdown-menu">
            <li class="my-connections-tab">
              <a ng-click="clearConnectionNotification()" href="#/my-connections" title="My connections" data-toggle="collapse" data-target=".navbar-collapse.in" class="link-my-connections">My Connections</a>
              <span ng-class="cashew ? 'notify': 'nothing'" ng-show="cashew"><i class="fa fa-circle"></i></span>
            </li>

            <li role="separator" class="divider"></li>

            <li ng-class="friendRequests ? 'notifications' : 'nothing'" class="requests" data-message={{friendRequests}} ng-click="clearFriendRequestNotifications()">
              <a href="#/requests" title="Requests" data-toggle="collapse" data-target=".navbar-collapse.in" class="link-pending-requests">
                Pending Requests
                <span ng-show="friendRequests" class="badge">{{friendRequests}}</span>
              </a>
            </li>
          </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right" ng-hide="location.path().startsWith('/subscription')">
        <li ng-show='user  && friendRequests' ng-class="friendRequests ? 'notifications' : 'nothing'" class="notify requests" data-message={{friendRequests}} ng-click="clearFriendRequestNotifications()">
          <a href="#/requests" title="Requests" data-toggle="collapse" data-target=".navbar-collapse.in">
            <span class="badge">{{friendRequests}}</span>
            <i class="fa fa-bell"></i>
          </a>
        </li>
        <li ng-show='user' ng-class="unreadMessages ? 'notifications' : 'nothing'" class="notify messaging" data-messages={{unreadMessages}} ng-click="clearMessageNotifications()">
          <a href="#/privateChat" title="Messages" data-toggle="collapse" data-target=".navbar-collapse.in">
            <span class="badge">{{unreadMessages}}</span>
            <i class="fa fa-comments"></i>
          </a>
        </li>
        <li class="splitter"></li>
        <li ng-show='!user'>
          <a href="" ng-click="login()" data-toggle="collapse" data-target=".navbar-collapse.in" class="link-login">Login | Signup</a>
        </li>

        <li ng-show='user' class="dropdown user-dropdown">
          <a href="#/user/{{user.githubUserName}}" data-toggle="collapse" data-target=".navbar-collapse.in" class="user-pic" ng-style="{'background-image': 'url({{ user.avatar_url }})'}"></a>

          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.githubUserName }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li role="separator" class="divider"></li> -->
            <li><a href="#/user/{{user.githubUserName}}" data-toggle="collapse" data-target=".navbar-collapse.in">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" data-toggle="collapse" data-target=".navbar-collapse.in" ng-click='logout()'>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="modal fade" id="project-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Project Setup</h4>
        </div>
        <div class="modal-body">
        <form ng-submit="createProject()">
          <h4>Add Collaborators</h4>
          <input ng-model="collabForm" type="text" ng-model="selected" uib-typeahead="user as user.name for user in connections | filter:$viewValue | limitTo:8" class="form-control" typeahead-no-results="noResults" typeahead-on-select="addCollaborator($item, $model, $label)">
          <ul class="collaborators-list">
            <li class="collaborator" ng-repeat="user in newProjectCollaborators track by $index" ng-click="removeCollaborator($index)">
              {{user}} <i class="fa fa-times-circle"></i>
            </li>
          </ul>
          <h4>Project Name</h4>
          
            <input class="input-add-project-name form-control" type="text" ng-model="projectName">
            <input type="submit" hidden>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary project-add-submit" ng-click="createProject()">Go to your project page now</button>
        </div>
      </div>
    </div>
  </div>
</div>