<div class="container page how-to-use-page fadein-effect">
  
  <div class="row how-to-use-container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 top-info">
      <h1>How to use GitConnect</h1>

      <h2>News</h2>
      <p>See your network activity and how many developers are available nearby.</p>

      <h2>Connect</h2>
      <p>Match with other developers.</p>
      <p>Our algorithm gets your interests based on your GitHub activity and proposes developers with similar interests.</p>

      <h2>Community Projects</h2>
      <p>See published projects made by other GitConnect users.</p>
      <p>You can rate, comment, and get in touch with their team.</p>

      <h2>My Projects</h2>
      <p>See your published projects, and projects currently in progress.</p>

      <h2>Add a Project <i class="fa fa-plus"></i></h2>
      <p>Simply click the plus icon to create a new project.</p>
      <p>Add developers you are connected with and collaborate.</p>

      <h2>My Connections</h2>
      <p>See and manage your connections with other members.</p>

      <h2>Pending Requests <i class="fa fa-bell"></i></h2>
      <p>See and manage the connection requests you've sent or received from other members.</p>

      <h2>Messages <i class="fa fa-comments"></i></h2>
      <p>Keep in touch with other members by sending and receiving messages.</p>

      <div class="redirect">
        <a href="#/projects" class="btn btn-primary">Check out the latest projects!</a>
      </div>

    </div>
  </div>

</div>
