<div class="container page how-to-use-page fadein-effect">
  
  <div class="row how-to-use-container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 top-info">
      <h1>How to use GitConnect</h1>

      <h2>Home</h2>
      <p>See your network activity and how many developers are available in your location</p>

      <h2>Connect</h2>
      <p>Match with other developers</p>
      <p>Our algorithm get your interests based on your github activities and propose you people with the same interest</p>

      <h2>Projects</h2>
      <p>See the published projects made by other GitConnect user</p>
      <p>Rate them, Comment them, Contact their team</p>

      <h2>Connections</h2>
      <p>See and manage your connections with other developers</p>

      <h2>My Projects</h2>
      <p>See your previous Projects</p>
      <p>Access to your current project</p>

      <h2>Add a Project <i class="fa fa-plus"></i></h2>
      <p>Simply click and add a new project</p>
      <p>Create a project and propose developer you are connected to work with you</p>

      <h2>Requests <i class="fa fa-user-plus"></i></h2>
      <p>See and manage the connection requests you sent or received from others developers</p>

      <h2>Messages <i class="fa fa-comments"></i></h2>
      <p>Keep in touch with other developers, send and receive messages </p>

      <div class="redirect">
        <a href="#/projects" class="btn btn-primary">Check the latest projects</a>
      </div>



      
    </div>
  </div>

</div>
