<div class="container page contact-page fadein-effect">

  <div class="row contact-container">
    <div class="col-xs-12 top-info">
      <h1>Contact Us</h1>
      <div class="contact-form row">
        <form class="col-xs-12 col-sm-6 col-sm-offset-3" ng-submit="messageSending()">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="email" required>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" placeholder="Subject" ng-model="subject" required>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Your Message</label>
            <textarea class="form-control" id="message-content" rows="4" ng-model="message" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <p class="msg-sending-info" ng-show="msgSent">Thank you for your message</p>
    </div>
  </div>

</div>
