<div class="container page contact-page fadein-effect">

  <div class="row contact-container">
    <div class="col-xs-12 top-info">
      <h1>Connect with us</h1>
      <div class="contact-form row">
        <form class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Your message</label>
            <textarea class="form-control" id="message-content" rows="4" required></textarea>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>

</div>
