@import "animated-check";
.pac-container {
  z-index: 1051 !important;
}
.connect-page {
  min-height: 1000px;
  .top-container {
    margin:20px 0px;
    .select-filters{
      background-color: #FFF;
      border-color: $mainColor;
      float: left;
    }
    .availability {
      position: relative;
      text-align: right;
      float: right;
      .title {
        position: relative;
        top: 3px;
        line-height: 14px;
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
  .loading-spinner {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 40%;
  }
  .availability-required, .no-matches {
    text-align: center;
    margin: 40px 0px;
    padding: 40px 10px;
    h3 {
      line-height: 40px;
    }
  }
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 70%;
      max-width: 300px;
      height: 300px;
      border-radius: 15px;
      .inner-slide {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-size: cover;
        background-position: 50% 50%;
      }
      .swiper-slide-shadow-right {
        border-radius: 15px;
      }
      .swiper-slide-shadow-left {
        border-radius: 15px;
      }
      .checkmark {
        display: none;
      }
      &.requested {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        .checkmark {
          display: block;
          position: relative;
          top: 50%;
          margin-top: -28px;
          filter: grayscale(0%);
          -webkit-filter: grayscale(0%);
          -moz-filter: grayscale(0%);
        }
      }
    }
  }
  .developer-connect-details {
    display: none;
    .connection {
      text-align: center;
      .connect-btn {
        background-color: $mainColor;
        color: #FFF;
        &.confirm-connect {
          cursor: not-allowed;
          background-color: $lightGreyColor !important;
          color: #FFF;
        }
      }
    }
    .developer-detail {
      margin-top: 30px;
      margin-bottom: 20px;
      .developer-name {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: $darkGreyColor;
      }
    }
  }
  .tech-selection {
    #user-search {
      margin-bottom: 20px;
    }
    .techs {
      padding-top: 20px;
      padding-bottom: 20px;
      &.user-selection { padding-top: 10px;}
      .tech-search-input {
        margin-bottom: 10px;
      }
      .tech {
        display: inline-block;
        cursor: pointer;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: $blueColor;
        color: #FFF;
        border-radius: 3px;
        transition: background-color 0.2s ease;
        &.fadein-effect {
          @include animationEffect(0.4s, fadeEffect);
        }
        i {
          margin-left: 5px;
        }
      }
      &.user-selection .tech:hover {
        background-color: $redColor;
      }
      &.propositions .tech:hover {
        background-color: $greenColor;
      }
      .search-form {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .error-addition {
        font-weight: bold;
        color: $redColor;
      }
    }
  }
  
  .user-profile-block {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #CCC;
    .details-container {
      h3 {
        color: $darkGreyColor;
        margin-top: 0px;
        padding-bottom: 10px;
      }
      .bio {
        font-size: 16px;
      }
      .list {
        ul {
          .project {
            transition: all 0.3s ease;
            margin-bottom: 10px;
            padding-bottom:10px;
            .inner-container {
              transition: all 0.3s ease;
              padding: 10px;
              border:1px solid $lightGreyColor;
              // border-radius: 3px;
              overflow: hidden;
              -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3);
              -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3);
              box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3);
              .project-name {
                border: none;
                padding:10px 0px;
                font-weight: bold;
                color: #000;
              }
              .project-picture {
                height: 200px;
                background-size: cover;
                background-position: 50% 50%;
                border-radius: 3px;
                margin-top: 8px;
              }
              .description {
                overflow: hidden;
                height: 60px;
                margin-top: 10px;
                margin-bottom: 0px;
              }
            }
            &:hover {
              transform: translateY(3px);
              .inner-container {
                box-shadow: none;
              }
            }
          }
        }
      }
    }
    &.user-languages-container {
      .language-details {
        .language-list {
          ul {
            li {
              position: relative;
              padding-top: 10px;
              .tech-icon {
                width: 20px;
                height: 20px;
                display: inline-block;
                background-size: cover;
                position: absolute;
                top: 9px;
              }
              .tech-name {
                font-size: 14px;
                padding-left: 25px;
                line-height: 14px;
              }
            }
          }
        }
      }
    }
    &.user-recents-container {
      .recents-details {
        .recent {
          padding-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #AAA;
          p {
            margin-top: 5px;
            margin-bottom: 0px;
            &.subtitle {
              font-weight: bold;
            }
          }
          &.participation {
          }
          &.comments {
          }
          &.project {
            .project-post {
              margin-top: 20px;
              .picture-container {
                height: 200px;
                a {
                  width: 100%;
                  height: 100%;
                  display: block;
                  background-size:cover;
                  background-position: 50% 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
 .connect-page {
  .swiper-container {
    .swiper-slide {
      height: 250px;
    }
  }
}
}

@media (max-width: 320px) {
 .connect-page {
  .swiper-container {
    .swiper-slide {
      height: 200px;
    }
  }
}
}

.connect-page {
  .availability {
    .switch {
      display: inline-block;
      .cmn-toggle {
        position: absolute;
        margin-left: -9999px;
        visibility: hidden;
      }
      .cmn-toggle + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
      }
      .cmn-toggle-round + label {
        padding: 2px;
        width: 60px;
        height: 30px;
        background-color: #dddddd;
        border-radius: 60px;
      }
      .cmn-toggle-round + label:before,
      .cmn-toggle-round + label:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
      }
      .cmn-toggle-round + label:before {
        right: 1px;
        background-color: $redColor;
        border-radius: 60px;
        transition: background 0.4s;
      }
      .cmn-toggle-round + label:after {
        width: 28px;
        margin-left: 30px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      }
      &.turn-off {
        .cmn-toggle-round + label:before {
          background-color: $greenColor;
        }
        .cmn-toggle-round + label:after {
          margin-left: 0px;
        }
      }
    }
  }
}