.footer {
  margin-top: 20px;
  .inner-footer-container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $mainColor;
    .footer-links {
      ul {
        margin-bottom: 0px;
        li {
          display: inline-block;
          padding: 0px 10px;
          a {
            color: #FFF;
          }
        }
      }
    }
  }
}

@media (max-width:480px) {
  .footer {
    .inner-footer-container {
      .footer-links {
        ul {
          li {
            padding: 0px 5px;
            font-size: 13px;
          }
        }
      }
    }
  }
}