.header {
  .header-menu {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
    margin-bottom: 0px;
    .links-menu {
      .navbar-left {
      }
      .navbar-right {
        li {
          .badge {
            display: none;
          }
          &.notifications {
            .badge {
              display: inline-block;
              position: absolute;
              top: 5px;
              left: 28px;
              z-index: 999;
              background-color: $redColor;
              color: #FFF;
              font-weight: bold;
            }
          }
          &.messaging {
            a {
              padding-top: 10px;
              padding-bottom: 10px;
              font-size: 28px;
            }
          }
          &.requests {
            a {
              padding-top: 10px;
              padding-bottom: 10px;
              font-size: 28px;
            }
          }
          // &.user-pic-container {
            // a.user-pic {
            //   background-image:url('../../assets/pictures/users/default-user.jpg');
            //   background-size: cover;
            //   background-position: 50% 50%;
            //   width: 40px;
            //   height: 40px;
            //   margin-left: 10px;
            //   top: 5px;
            //   border-radius: 50%;
            //   border: 2px solid $mainColor;
            // }
          // }
          &.user-dropdown {
            height: 50px;
            a { 
              display: inline-block;
              &.dropdown-toggle {
                position: relative;
                top: -10px;
              }
              &.user-pic {
                background-image:url('../../assets/pictures/users/default-user.jpg');
                background-size: cover;
                background-position: 50% 50%;
                width: 40px;
                height: 40px;
                margin-left: 10px;
                top: 5px;
                border-radius: 50%;
                border: 2px solid $mainColor;
                display: inline-block;
              }
            }
            .dropdown-menu {
              li {
                &:first-child {
                  padding-top: 5px;
                }
                a:hover {
                  background: none;
                }
              }
            }
            &.open {
              >a:focus {
                background: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .header-menu {
      .links-menu {
        .navbar-right {
          li {
            &.messaging, &.requests {
              display: inline-block;
            } 
            &.user-dropdown {
              height: auto;
            }
          }
        }
      }
    }
  }
}