.header {
  .header-menu {
    border-radius: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
    margin-bottom: 0px;
    background-color: $mainColor;
    // background: #464e5b; /* Old browsers */

    //Gradient testing
    background: -moz-linear-gradient(top, #464e5b 0%, #333333 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #464e5b 0%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #464e5b 0%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464e5b', endColorstr='#333333',GradientType=0 );
    border-color: $mainColor;
    .navbar-brand {
        color: #FFF;
    }
    .links-menu {
      .navbar-nav>li>a {
        color: #FFF;
      }
      .navbar-nav>.active>a, 
      .navbar-nav>.active>a:hover,
      .navbar-nav>.active>a:focus {
        background-color: $mainColor;
      }
      .navbar-nav>.open>a,
      .navbar-nav>.open>a:hover,
      .navbar-nav>.open>a:focus {
        background-color: $mainColor;
      }
      .navbar-right {
        li {
          .badge {
            display: none;
          }
          &.notifications {
            .badge {
              display: inline-block;
              position: absolute;
              top: 5px;
              left: 28px;
              z-index: 999;
              background-color: $redColor;
              color: #FFF;
              font-weight: bold;
            }
          }
          // &.user-pic-container {
            // a.user-pic {
            //   background-image:url('../../assets/pictures/users/default-user.jpg');
            //   background-size: cover;
            //   background-position: 50% 50%;
            //   width: 40px;
            //   height: 40px;
            //   margin-left: 10px;
            //   top: 5px;
            //   border-radius: 50%;
            //   border: 2px solid $mainColor;
            // }
          // }
          // &.user-pic {
          //   a {
          //     background-image:url('../../assets/pictures/users/default-user.jpg');
          //     background-size: cover;
          //     background-position: 50% 50%;
          //     width: 40px;
          //     height: 40px;
          //     margin-left: 10px;
          //     top: 5px;
          //     border-radius: 50%;
          //     border: 2px solid $mainColor;
          //   }
          // }
          &.user-dropdown {
            height: 50px;
            a { 
              display: inline-block;
              &.dropdown-toggle {
                position: relative;
                top: -10px;
              }
              &.user-pic {
                background-image:url('../../assets/pictures/users/default-user.jpg');
                background-size: cover;
                background-position: 50% 50%;
                width: 40px;
                height: 40px;
                margin-left: 10px;
                top: 5px;
                border-radius: 50%;
                border: 1px solid #FFF;
                display: inline-block;
              }
            }
            .dropdown-menu {
              border-color: #FFF;
              background-color: $mainColor;
              min-width: 144px;
              li {
                a {
                  color: #FFF;
                }
                &:first-child {
                  padding-top: 5px;
                }
                a:hover {
                  background: none;
                }
              }
            }
            &.open {
              >a:focus {
                background: none;
              }
            }
          }
          &.notify {
            a {
              padding-top: 10px;
              padding-bottom: 10px;
              font-size: 28px;
            }
            &.messaging {}
            &.requests {}
          }
        }
      }
    }
  }
}

.modal-body {
  .collaborators-list {
    padding-top: 15px;
    padding-bottom: 5px;
    .collaborator {
      display: inline-block;
      cursor: pointer;
      padding: 5px 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      background-color: $mainColor;
      color: #FFF;
      border-radius: 3px;
      transition: background-color 0.2s ease;
      &.fadein-effect {
        @include animationEffect(0.4s, fadeEffect);
      }
      i {
        margin-left: 5px;
      }
      &:hover {
        background-color: $redColor;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .header-menu {
      .links-menu {
        .navbar-right {
          li {
            &.messaging, &.requests {
              display: inline-block;
            } 
            &.user-dropdown {
              height: auto;
            }
          }
        }
      }
    }
  }
}