.project-page {
  overflow: hidden;
  h2 {
    color: $darkGreyColor;
  }
  .project-post {
    padding-top: 20px;
    padding-bottom: 20px;
    .section-title {
      border-top: 1px dotted $lightGreyColor;
      padding-top: 10px;
      color: $darkGreyColor;
    }
    .post-top-info {
      position: relative;
      .collaborator-options {
        display: inline-block;
        float: right;
      }
      .thumbnail-pic {
        float: left;
        width: 40px;
        height: 40px;
        a {
          background-image:url('../../assets/pictures/users/default-user.jpg');
          background-size: cover;
          background-position: 50% 50%;
          width: 100%;
          height: 100%;
          display: block;
          border: 2px solid $mainColor;
        }
      }
      .post-top-details {
        float: left;
        padding-left: 10px;
        .project-name {
          font-weight: bold;
          a {
            color: $darkGreyColor;
            font-size: 16px;
          }
        }
        .post-subdetails {
          .subdetail {
            .comments {
              margin-left: 10px;
            }
          }
        }
      }
      .voting {
        float: left;
        padding-left: 30px;
        .vote {
          text-align: center;
          margin-top: 9px;
          button {
            background: none;
            border: none;
            position: relative;
            i {
              position: relative;
              top: -2px;
              background-color: $secondaryColor;
              color: #FFF;
              border-radius: 50%;
              padding: 5px 7px 6px 7px;
            }
          }
          .count {
            display: inline-block;
          }
        }
      }
    }
    .post-content {
      margin-top: 10px;
      .developer-pic {
        background-image:url('../../assets/pictures/users/default-user.jpg');
      }
      .description {
        margin-bottom: 10px;
        .project-link {
          font-weight: bold;
        }
      }
      .tech-list {
        margin-top: 20px;
        margin-bottom: 20px;
        ul {
          li {
            margin-bottom: 10px;
            position: relative;
            .tech-icon {
              width: 20px;
              height: 20px;
              display: inline-block;
              background-size: cover;
              position: absolute;
              top: -1px;
            }
            .tech-name {
              font-size: 14px;
              padding-left: 25px;
              line-height: 14px;
            }
          }
        }
      }
      .developers-list {
        margin-bottom: 20px;
        .developer {
          float: left;
          width: 80px;
          height: 95px;
          text-align: center;
          margin: 10px 10px 0 0;
          &:first-child {
            margin-left: 0px;
          }
          &:last-child {
            margin-right: 0px;
          }
          .developer-pic {
            margin: 0 auto;
            width: 50px;
            height: 50px;
            display: block;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 50%;
            border: 2px solid $mainColor;
            background-image:url('../../assets/pictures/users/default-user.jpg');
          }
          .developer-name {
            margin-top: 5px;
            color: $mainColor;
            margin-bottom: 0px;
            text-align: center;
          }
        }
      }
      .project-picture-container {
        .picture-container {
          position: relative;
          .project-picture {
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
          }
          .magnifier {
            position: absolute;
            bottom: 30px;
            right: 25px;
            background-color: rgba(0,0,0,0.5);
            color: #FFF;
            border-radius: 50%;
            padding:3px 7px;
            font-size: 14px;
          }
        }
        .project-desc-container {
         .github-link, .website-link {
          margin-top: 10px;
          margin-bottom: 20px;
          i {
            font-size: 15px;
            margin-right: 5px;
          }
        }
        .description-title {
          border-top: 1px dotted $lightGreyColor;
          padding-top: 20px;
        }
      }
    }
  }
}

  // Post
  .team-messages {
    .section-title {
      border-top: 1px dotted $lightGreyColor;
      padding-top: 10px;
    }
    padding-bottom: 20px;
    .list-group {overflow: hidden;}
    .team-member-chat-picture {
      float: left;
      width: 50px;
      height: 50px;
      display: inline;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;
    }
    .message-content{
      padding-left: 70px;
      .username {
        font-weight: bold;
      }
      .date {
        font-size: 10px;
        float: right;
      }
      .message-content-body {
      }
    }
  }
  .post {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted $lightGreyColor;
    .post-top-info {
      position: relative;
      .user-pic {
        a {
          background-image:url('../../assets/pictures/users/default-user.jpg');
        }
      }
      .post-thumbnail {
        float: left;
        width: 40px;
        height: 40px;
        a {
          background-size: cover;
          background-position: 50% 50%;
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 50%;
          border: 2px solid $mainColor;
        }
      }
      .post-top-details {
        float: left;
        padding-left: 10px;
        .post-title {}
        .post-subdetails{
          .subdetail {
            &.time {}
          }
        }
      }
    }
    .post-content {
      margin-top: 10px;
      .developer-pic {
        background-image:url('../../assets/pictures/users/default-user.jpg');
      }
      .description {
        margin-bottom: 10px;
      }
    }
  }
}

.edit-project{
  .error{
    color: $redColor;
  }
  .tech-selection {
    .techs {
      padding-top: 20px;
      padding-bottom: 20px;
      &.user-selection { padding-top: 10px;}
      .tech {
        display: inline-block;
        cursor: pointer;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: $mainColor;
        color: #FFF;
        border-radius: 3px;
        transition: background-color 0.2s ease;
        &.fadein-effect {
          @include animationEffect(0.3s, fadeEffect);
        }
        i {
          margin-left: 5px;
        }
      }
      &.user-selection .tech:hover {
        background-color: $redColor;
      }
      &.propositions .tech:hover {
        background-color: $greenColor;
      }
      .search-form {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .error-addition {
        font-weight: bold;
        color: $redColor;
      }
    }
  }
}

#picture-modal {
  text-align: center;
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    .modal-content {
      img {
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 481px) { 
  #picture-modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 25%;
  }
}


@media (max-width: 767px) {
  .project-page {
    .project-post {
      .post-top-info {
        .voting {
          width: 100%;
          padding: 20px 0px 0px;
        }
        .collaborator-options {
          display: block;
          width: 100%;
          text-align: center;
          margin: 15px 0px;
        }
      }
    }
  }
}

