.profile-update-page {
  text-align: center;
  .profile-update-form {
    padding-top: 30px;
    text-align: left;
    .location-input {
      label {
        float: left;
        padding: 6px 15px;
      }
      border-bottom: 1px dotted #CCC;
      padding-bottom: 10px;
      padding-top: 0px;
    }
    .email-input {
      border-bottom: 1px dotted #CCC;
      padding-bottom: 10px;
    }
    .bio-input {
      border-bottom: 1px dotted #CCC;
      padding-bottom: 10px;
    }
    .tech-selection {
      .techs {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dotted #CCC;
        cursor: pointer;
        &.user-selection { padding-top: 10px;}
        .tech {
          display: inline-block;
          padding: 5px 10px;
          margin-right: 5px;
          margin-bottom: 5px;
          background-color: $blueColor;
          color: #FFF;
          border-radius: 3px;
          transition: background-color 0.2s ease;
          &.fadein-effect {
            @include animationEffect(0.3s, fadeEffect);
          }
          i {
            margin-left: 5px;
          }
        }
        &.user-selection .tech:hover {
          background-color: $redColor;
        }
        &.propositions .tech:hover {
          background-color: $greenColor;
        }
        .search-form {
          margin-top: 10px;
          margin-bottom: 20px;
        }
        .error-addition {
          font-weight: bold;
          color: $redColor;
        }
      }
    }
    .submit-button {
      margin-top: 20px;
      text-align: center;
    }
  }


}