<div class="container page home-page fadein-effect">
  <!--
  For notification testing.
  <button class="btn btn-primary notif" style="position:absolute;top:60px;right:50px;z-index:999" onclick="$('.header-menu .messaging').toggleClass('notifications')">Msg Notif</button>
  <button class="btn btn-warning request" style="position:absolute;top:60px;right:150px;z-index:999" onclick="$('.header-menu .requests').toggleClass('notifications')">Request Notif</button>
  -->

  <!-- Developer around Post example *** START *** -->
  <div class="row post user-project-post" ng-hide="hasDevAround">
    <h3 class="col-xs-12 no-data">There is no one available in your area right now</h3>
  </div>
  <div ng-show="hasDevAround" class="row post developer-around-post">
    <div class="col-xs-12 post-top-info">
      <div class="post-thumbnail developer-number">
        <span>{{devAroundCount}}</span>
      </div>
      <div class="post-top-details">
        <div class="post-title">
          <p>Developers around you</p>
        </div>
        <!-- <div class="post-subdetails">
          <div class="subdetail time">
            <i class="fa fa-clock-o"></i> 2 hours ago
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-xs-12 post-content">
      <ul class="developers-list cf">
        <li class="developer" ng-repeat="dev in devAround">
          <a href="#/user/{{dev.username}}" class="developer-pic" style="background-image:url('{{dev.avatar_url}}')"></a>
          <p class="developer-name">{{dev.name}}</p>
        </li>
      </ul>
    </div>
  </div>
  <!-- Developer Around example *** END *** -->

  <!-- User Post example *** START *** -->
  <div class="row post user-project-post" ng-hide="hasNewProjects">
    <h3 class="col-xs-12 no-data">Your network has no recent activities</h3>
  </div>
  <div class="row post user-project-post" ng-show="hasNewProjects" ng-repeat="project in newProjects">
    <div class="col-xs-12 post-top-info">
      <div class="post-thumbnail user-pic">
        <a href="#/user/{{project.x.username}}" alt="" style="background-image:url('{{project.x.avatar_url}}')"></a>
      </div>
      <div class="post-top-details">
        <div class="post-title user-name">
          <a href="">{{project.x.name}}</a>
        </div>
        <div class="post-subdetails">
          <div class="subdetail time">
            <i class="fa fa-clock-o"></i> {{project.y.publishDate | date:'mediumDate'}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 post-content">
      <p class="description">
        {{project.x.name}} just posted a new project : <a href="#/project/{{project.y.projectId}}" class="project-link">{{project.y.name}}</a>
      </p>
      <div class="project-picture-container">
        <a href="#/project/{{project.y.projectId}}" class="project-picture" style="background-image:url('{{project.y.picture}}')"></a>
      </div>
    </div>
  </div>
  <!-- User Post example *** END *** -->

  <!-- User Post example *** START *** -->
<!--   <div class="row post user-project-post">
    <div class="col-xs-12 post-top-info">
      <div class="post-thumbnail user-pic">
        <a href="" alt="" style="background-image:url('assets/pictures/users/chris.jpg')"></a>
      </div>
      <div class="post-top-details">
        <div class="post-title user-name">
          <a href="">Chris Nixon</a>
        </div>
        <div class="post-subdetails">
          <div class="subdetail time">
            <i class="fa fa-clock-o"></i> 2 hours ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 post-content">
      <p class="description">
        Chris just posted a new project : <a href="" class="project-link">Fetch</a>
      </p>
      <div class="project-picture-container">
        <a href="" class="project-picture" style="background-image:url('assets/pictures/projects/fetch.jpg')"></a>
      </div>
    </div>
  </div> -->
  <!-- User Post example *** END *** -->

  <!-- Highlighted Project example *** START *** -->
 <!--  <div class="row post highlight-project-post">
    <div class="col-xs-12 post-top-info">
      <div class="post-thumbnail highlight-pic">
        <a href="" alt="" style="background-image:url('assets/pictures/projects-thumbnails/koti.jpg')"></a>
      </div>
      <div class="post-top-details">
        <div class="post-title project-name">
          <a href="">Project of the day - Koti</a>
        </div>
        <div class="post-subdetails">
          <div class="subdetail">
            <i class="fa fa-clock-o"></i> 3 hours ago
            <i class="fa fa-star star"></i> 241
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 post-content">
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
      <div class="row project-picture-container">
        <div class="col-xs-12 col-sm-5 picture-container">
          <a href="" class="project-picture" style="background-image:url('assets/pictures/projects/koti.jpg')"></a>
        </div>
        <div class="col-xs-12 col-sm-7 project-desc-container">
          <p class="project-subdescription">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.<br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Highlighted Project example *** END *** -->



  <!-- User Post example DUPLICATE *** START *** -->
  <!-- <div class="row post user-project-post">
    <div class="col-xs-12 post-top-info">
      <div class="post-thumbnail user-pic">
        <a href="" alt="" style="background-image:url('assets/pictures/users/royce.jpg')"></a>
      </div>
      <div class="post-top-details">
        <div class="post-title user-name">
          <a href="">Royce</a>
        </div>
        <div class="post-subdetails">
          <div class="subdetail time">
            <i class="fa fa-clock-o"></i> 3 hours ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 post-content">
      <p class="description">
        Chris just posted a new project : <a href="" class="project-link">Devmag</a>
      </p>
      <div class="project-picture-container">
        <a href="" class="project-picture" style="background-image:url('assets/pictures/projects/devmag.jpg')"></a>
      </div>
    </div>
  </div> -->
  <!-- User Post example DUPLICATE *** END *** -->

 <!-- User Comment example *** START *** -->
  <!-- <div class="row post user-comment-post">
    <div class="col-xs-12 post-top-info">
      <div class="post-thumbnail user-pic">
        <a href="" alt="" style="background-image:url('assets/pictures/users/chris.jpg')"></a>
      </div>
      <div class="post-top-details">
        <div class="post-title user-name">
          <a href="">Chris Nixon</a>
        </div>
        <div class="post-subdetails">
          <div class="subdetail time">
            <i class="fa fa-clock-o"></i> 2 hours ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 post-content">
      <p class="description">
        Chris just commented project : <a href="" class="project-link">Fetch</a>
      </p>
      <div class="project-comment">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
    </div>
  </div> -->
  <!-- User Comment example *** END *** -->

</div>
