<div class="container page requests-page">

  <div class="col-xs-12 requests-form fadein-effect" ng-init="selected = 'requests'">
      <button class="btn" ng-class="{'active':selected === 'requests'}" ng-click="selected = 'requests'">Requests</button>
      <button class="btn" ng-class="{'active':selected === 'demands'}" ng-click="selected = 'demands'">Demands</button>
  </div>

  <div class="row user-details-container fadein-effect" ng-show="selected === 'requests'">
    <div class="col-xs-12 user-details requests " ng-repeat="user in usersRequest track by $index">
      <div class="post-thumbnail user-pic">
        <a href="" alt="" style="background-image:url({{user.avatar_url}})"></a>
      </div>
      <div class="user-subdetails">
        <a href="" class="user-name">{{user.username}}</a>
       <!--  <div class="subdetail time">
          <i class="fa fa-clock-o"></i> Request made on {{user.requestedDate | date:'mediumDate'}}
        </div> -->
        <div class="subdetail ratings">
         <!--  <div id="stars-existing" class="stars" ng-init="ratings(user.ratings, $index, 'requests')"></div> -->  <div id="stars-existing" class="stars" ng-init="ratings(4, $index, 'requests')"></div>
        </div>
      </div>
      <div class="action-button accept">
        <button class="btn">Accept</button>
      </div>
    </div>
  </div>

  <div class="row user-details-container fadein-effect" ng-show="selected === 'demands'">
    <div class="col-xs-12 user-details demands" ng-repeat="user in userDemands track by $index">
      <div class="post-thumbnail user-pic">
        <a href="" alt="" style="background-image:url({{user.avatar_url}})"></a>
      </div>
      <div class="user-subdetails">
        <a href="" class="user-name">{{user.username}}</a>
        <!-- <div class="subdetail time">
          <i class="fa fa-clock-o"></i> Request made on {{user.requestedDate | date:'mediumDate'}}
        </div> -->
        <div class="subdetail ratings">
          <!-- <div id="stars-existing" class="stars" ng-init="ratings(user.ratings, $index, 'demands')"></div> -->
          <div id="stars-existing" class="stars" ng-init="ratings(4, $index, 'demands')"></div>
        </div>
      </div>
      <div class="action-button remove">
        <button class="btn">Remove</button>
      </div>
    </div>
  </div>

</div>
