.collaboration-page {

  .team-details {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #CCC;
    .team-members-list {
      .team-member {
        display: inline-block;
        width: 50px;
        margin: 0 10px;
        &:first-child {
          margin-left: 0px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
      .team-member-pic {
        width: 50px;
        height: 50px;
        display: block;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: 50%;
        border: 2px solid $mainColor;
      }
      .team-member-name {
        margin-top: 5px;
        color: $mainColor;
        margin-bottom: 0px;
        text-align: center;
      }
    }
  }
  .links {
    li {
      position: relative;
      padding: 8px;
      i {
        position: relative;
        top: 5px;
        left: -5px;
      }
    }
  }
}