.collaboration-page {

  .team-details {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #CCC;
    .team-members-list {
      .team-member {
        display: inline-block;
        width: 50px;
        margin: 0 10px;
        &:first-child {
          margin-left: 0px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
      .team-member-pic {
        width: 50px;
        height: 50px;
        display: block;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: 50%;
        border: 2px solid $mainColor;
      }
      .team-member-name {
        margin-top: 5px;
        color: $mainColor;
        margin-bottom: 0px;
        text-align: center;
      }
    }
  }
  .links {
    padding-bottom: 20px;
    border-bottom: 1px dotted #CCC;
    li {
      position: relative;
      padding: 8px;
      .link-icon {
        position: relative;
        top: 5px;
        left: 6px;
      }
      .link-info {
        padding-left: 10px;
        color: grey;
        font-style: italic;
      }
      .add-link {
        color: rgba(0,0,0,0.5);
        padding-left: 10px;
      }
    }
    p {
      padding-left: 41px;
    }
  }
  .team-messages {
    padding-bottom: 20px;
    .team-member-chat-picture {
      float: left;
      width: 50px;
      height: 50px;
      display: inline;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;
    }
    .message-content{
      padding-left: 70px;
      .username {
        font-weight: bold;
      }
      .message-content-body {
      }
    }
  }
}