.connect-page {
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 70%;
      max-width: 300px;
      height: 300px;
      .inner-slide {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-size: cover;
        background-position: 50% 50%;
      }
    }
  }
  .developer-connect-details {
    .connection {
      text-align: center;
      .connect-btn {
        background-color: $mainColor;
        color: #FFF;
      }  
    }
    .developer-detail {
      margin-top: 30px;
      margin-bottom: 20px;
      .developer-name {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

// Fade effect when page load
.fadein-effect {
 @include animationEffect(1s, fadeEffect);
}


@media (max-width: 480px) {
   .connect-page {
    .swiper-container {
      .swiper-slide {
        height: 250px;
      }
    }
  }
}

@media (max-width: 320px) {
   .connect-page {
    .swiper-container {
      .swiper-slide {
        height: 200px;
      }
    }
  }
}