@import "reset";
@import "bootstrap";
@import "font-awesome";
@import "animate";
@import "variables";
@import "mixins";
@import "keyframes-animations";
@import "swiper";
@import "header";
@import "footer";
@import "welcome-page";
@import "profile-page";
@import "projects-list";
@import "homepage";
@import "connect";

html {
  background-color: $bgColor;
  -webkit-font-smoothing: antialiased;
  * {
    font-family:"Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
  }
  button, .btn:focus, .btn, .btn.active {
    outline: 0 !important;
  }
}
body {
  background: none;
}

// Style for all pages
.page {
  padding-top: 52px;
}

// Clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {clear: both;}
.cf {*zoom: 1;}
