<div class="inner-footer-container">
  <div class="footer-links container">
    <ul>
      <!--<li>App version: v<span app-version></span></li>-->
      <li><a href="#/contact">Contact Us</a></li>
      <li><a href="#/team">Our Team</a></li>
      <li><a href="#/legal">Legal</a></li>
      <li><a href="#/how-to-use">Help</a></li>
    </ul>
  </div>
</div>

<!-- Availability Info Modal -->
<div class="modal fade" id="availabilityInfo" tabindex="-1" role="dialog" aria-labelledby="availabilityInfo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Availability Information</h4>
      </div>
      <div class="modal-body">
        <h3>Sorry</h3>
        <h4>You cannot set yourself available as long as you are working on a new project</h4>
        <h4>You must <b>Delete</b> or <b>Publish</b> your current project be available again</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>