<div id="chat-page" ng-controller=chatController class="container page chat-page">
  <h1>Chat with Friends</h1>
  <div class="chat.message col-xs-12 col-sm-6">
    <h3>Messages</h3>
    <p ng-repeat="message in messages">{{message}}</p>
  </div>
  <div class="chat.uers col-xs-12 col-sm-6 ">
    <h3>Dudes</h3>
    <p ng-repeat="user in users">{{user}}</p>
  </div>
  <div class="chat.typing">
    <form ng-submit="sendMessage()">
      <input ng-model="message" class="ng-pristine ng-valid">
      <input type="submit" value="Send">
    </form>
  </div>
</div>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<!-- <script async src="bower_components/socket.io-client/socket.io.js"></script> -->

